
<div class="container">
    <h3>Article For Thing</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, facere, vitae, tempore eaque autem vel perspiciatis ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.</p>
    <h3>Cool Article</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, facere, vitae, tempore eaque autem vel perspiciatis ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.</p>
    <h3>Best Article</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, facere, vitae, tempore eaque autem vel perspiciatis ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.</p>
</div>