
<div class="container">
    <h3>Is it time for a new diet?</h3>
    <h6>by Abigail Bekker</h6>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
    </p>
    <h3>Stay Motivated!</h3>
    <h6>by Jessie Lighthouse</h6>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
    </p>
    <h3>What's next?</h3>
    <h6>by Jacob.....jacob?</h6>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Est, facere, vitae, tempore eaque autem vel perspiciatis 
        ab quae dolores perferendis non aspernatur voluptatibus laudantium iure saepe architecto et nam quibusdam.
    </p>
</div>