
#listdetail{
    top: 1rem;
	left:1rem;
	bottom:10rem;
	right:10rem;
    position:absolute;
    width:40rem;
    height:200rem;
    margin-left: 900px;
    margin-top: 15rem;
}

.showdetails{
    position: absolute;
}

h3{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(219, 12, 219);
}
