<div class = 'container'>
    <table class="table table-borderless table-dark">
        <thead>
            <tr>
              <th scope="col">Nutrient Name</th>
              <th scope="col">Ammount</th>
            </tr>
          </thead>
        <tbody>
          <tr>
          </tr>
          <tr>
            <td>Water</td>
            <td>{{water}}</td>
          </tr>
          <tr>
            <td>Calories</td>
            <td>{{cal}}</td>
          </tr>
          <tr>
            <td>Protien</td>
            <td>{{protein}}</td>
          </tr>
          <tr>
            <td>Lipids</td>
            <td>{{lipids}}</td>
          </tr>
          <tr>
            <td>Carbs</td>
            <td>{{carbs}}</td>
          </tr>
          <tr>
            <td>Fiber</td>
            <td>{{fiber}}</td>
          </tr>
          <tr>
            <td>Sugar</td>
            <td>{{sugar}}</td>
          </tr>
          <tr>
            <td>Calcium (mg)</td>
            <td>{{calcium}}</td>
          </tr>
          <tr>
            <td>Sodium (mg)</td>
            <td>{{sodium}}</td>
          </tr>
          <tr>
            <td>Saturated Fat</td>
            <td>{{sat}}</td>
          </tr>
          <tr>
            <td>Monosaturated Fat</td>
            <td>{{mono}}</td>
          </tr>
          <tr>
            <td>PolySaturated Fat</td>
            <td>{{poly}}</td>
          </tr>
          <tr>
            <td>Cholosteral (MG)</td>
            <td>{{chol}}</td>
          </tr>
        </tbody>
      </table>
</div>