

<div *ngIf="!user" id="welcome">
  <h2>Welcome <span class="badge badge-secondary">Foodies</span></h2>
  <div class="container welcbtn">  
    <button class="btn btn-dark btn-lg" type="button"  (click)="signIn()">Sign  In</button>
    <button class="btn btn-dark btn-lg" type="button"  (click)="signUp()">Sign Up</button>
  </div>
  <h1>Lets Help you track your nutrition</h1>
</div>

<div>
<div class="main_header" *ngIf="user">
  <div class="container welcbtn">
    <div class="container">
      <h1 class="display-3">Foodies App</h1>
      <hr>
      <div>Welcome: {{user?.displayName}}</div>
  </div>
</div>
</div>

  <br>
  <nav class="nav justify-content-center ">
    <a class="nav-link active" routerLink="/landingpage">Home</a>
    <a class="nav-link active" href="/track">Food Tracker</a>
    <a class="nav-link active" href="#">Favorite Foods</a>
    <a class="nav-link active" routerLink="/profile">Profile</a>
    <a class="nav-link active" href="#" (click)="signOut()">Sign Out</a>
    <a class="nav-link active" href="#"(click)="SearchLn()">Search</a>
  </nav>
  <br>
</div>
 <router-outlet></router-outlet>