

<div *ngIf="!user" id="welcome">
  <h2>Welcome <span class="badge badge-secondary">Foodies</span></h2>
  <div class="container welcbtn">  
    <button class="btn btn-dark btn-lg" type="button"  (click)="signIn()">Sign  In</button>
    <button class="btn btn-dark btn-lg" type="button"  (click)="signUp()">Sign Up</button>
  </div>
  <h1>Lets Help you track your nutrition</h1>
</div>

<div *ngIf="user">
<div class="main_header" >
  <div class="container welcbtn">
    <div class="container">
      <h1 class="display-3"><strong>Foodies App</strong></h1>
      <hr>
      <div>Welcome: {{user?.displayName}}</div>
  </div>
</div>
</div>
<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link active" routerLink="/landingpage">Home</a>
    <a class="nav-link active" routerLink="/track">Food Tracker</a>
    <a class="nav-link active" routerLink="/favorite">Favorite Foods</a>
    <a class="nav-link active" routerLink="/profile">Profile</a>
    <a class="nav-link active" routerLink="/srch">Search</a>
    <a class="nav-link active" href="#" (click)="signOut()">Signout</a>
  </nav>
  <br>
</div>

</div>
 <router-outlet></router-outlet>