li{
    border: 1px solid black;
}
.favItem{
    width:80%;
    align-content: center;
    margin-left: 300px;
}
button{
    margin-left: 20px;
  
}

.listOfLists{
    position: relative;
}

#food{
    margin-top: 5px;
}

#listOne{
    top: 60px;
	left:60px;
	bottom:10px;
	right:10px;
    position:absolute;
    width:600px;
    height:70rem;
    margin-left: 20rem;
    margin-top: -4.25rem;
}

