<div id = crd class='card' style="width: 50rem;">
    <div class="card-header">
        <h3>{{obj.Shrt_Desc}}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Calories: {{obj.Cal}}</li>
            <li class="list-group-item">Protein: {{obj.Protein}}</li>
            <li class="list-group-item">Carbs: {{obj.Carbs}}</li>
            <li class="list-group-item">Water: {{obj.Water}}</li>
            <li class="list-group-item">Fiber: {{obj.Fiber}}</li>
            <li class="list-group-item">Total Fat: {{obj.SatFat + obj.MonoFat + obj.PolyFat}}</li>
            <ul class="list-group list-group-flush">
                <li id = itm class="list-group-item">Saturated Fat: {{obj.SatFat}}</li>
                <li id = itm class="list-group-item">Monosaturated Fat: {{obj.MonoFat}}</li>
                <li id = itm class="list-group-item">Polyunsaturated Fat: {{obj.PolyFat}}</li>
            </ul>
            <li class="list-group-item">Sugar: {{obj.Sugar}}</li>
            <li class="list-group-item">Lipids: {{obj.Lipid}}</li>
            <li class="list-group-item">Calcium (mg): {{obj.CalciumMG}}</li>
            <li class="list-group-item">Sodium (mg): {{obj.SodiumMG}}</li>
            <li class="list-group-item">Saturated Fats: {{obj.SatFat}}</li>
            <li class="list-group-item">Monosaturated Fats: {{obj.MonoFat}}</li>
            <li class="list-group-item">Polyunsaturated Fats: {{obj.PolyFat}}</li>
            <li class="list-group-item">Cholesterol (mg): {{obj.CholestrlMG}}</li>
            <li class="list-group-item">Gram Weight: {{obj.GmWt}}</li>
            <li class="list-group-item">Weight Description: {{obj.GmWtDesc}}</li>
          </ul>
          <div class="btn-group" role="group" aria-label="Basic example">
        <button class =  "btn btn-primary" (click) = 'Add()'>Add to Todays Foods</button>
        <button class = "btn btn-secondary" (click) = 'Back()'>Back</button>
    </div>

    </div>